/* -----------------when screen width is small----------------- */
@media (max-width: 768px) {
    .sidebar {
        display: none;
        /* width: 96%;
        height: auto;
        position: relative;
        padding-left : 10px;         */
    }

    .sidebarnews {
        display: none;
    }

    .main {
        margin: 10px;
        padding: 0px;
        width: 100%;
    }

    .logo {
        height: 100px;
    }

    .topnav {
        display: none;
    }

    article h2 {
        font-size: 25px;
        font-weight: bold;
    }

    article p {
        font-size: 15px;
        color: #313131;
    }
}