.contact-page {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--colorA);
}

.ContactSECT {
  color: var(--colorA);
}

.about-img {
  width: 40%;
  height: auto;
  margin: 10px;
}
.review{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--colorA);
}
.review blockquote:nth-child(even){
  width: 10%;
  height: auto;
  margin: 10px;
  background-color: var(--colorC);
  padding: 10px;
}
.review blockquote:nth-child(odd){
  width: 10%;
  height: auto;
  margin: 10px;
  background-color: var(--colorD);
  padding: 10px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--colorA);
  color: var(--colorB);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--colorD);
  color: var(--colorA);
}

.ContactForm {
  background-color: var(--colorA);
  display: flex;
  color: var(--colorB);

}

form {
  text-align: left;
  width: 50%;
  color: var(--colorA);
  background-color: var(--colorB);
  margin: 0px 5px 10px 10px;
  padding: 10px;
}

.contactInfo {
  padding: 10px;
  width: 50%;
  background-color: var(--colorB);
  margin: 0px 10px 10px 5px;
  color: var(--colorA);
  font-size: 20px;
  font-weight: bolder;
}

iframe {
  width: 100%;
  height: 400px;
  border: 1px solid var(--colorA);
}

.social-media {
  background-color: var(--colorA);
  color: var(--colorB);

}

.social-media iconify-icon {
  transform: scale(2.5);
  padding-top: 10px;
  margin: 0px 25px 20px 25px;

}



.faq {
  font-size: 20px;
  text-align: left;
  min-width: 768px;
  background-color: var(--colorA);
}

.faq input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  overflow: hidden;
  background-color: var(--colorB);
  color: var(--colorA);
  border: var(--colorA) 2px solid;
}

/* .tab:nth-child(even)  {
  overflow: hidden;
  background-color: var(--colorA);
  color: var(--colorB);
}
.tab:nth-child(odd)  {
  overflow: hidden;
  background-color: var(--colorB);
  color: var(--colorA);
} */


.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  font-size: 25px;
}

.tab-label:hover {
  background: var(--colorD);
  color: var(--colorA);
}

.tab-label::after {
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: var(--colorA);
  background: var(--colorB);
  transition: all 0.20s;
}

/* Arrow styles */
.tab-label::after {
  content: "\276F";
}

input:checked+.tab-label {
  background: var(--colorD);
  color: var(--colorA)
}

input:checked~.tab-content {
  max-height: 100vh;
  padding: 10px;
}

/* Rotate arrow when clicked */
input:checked+.tab-label::after {
  transform: rotate(90deg);
}