.shop-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 300px;
  min-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: var(--colorA);
  color: var(--colorB);
  margin: 10px;
}
.card img {
  width: 100%;
  /* height: 200px;
  object-fit: cover; */
}

.price {
  color: var(--colorD);
  font-size: 22px;
}
.og-price {
  color: red;
  font-size: 22px;
  background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: var(--colorA);
  text-align: center;
  cursor: pointer;
  width: 47%;
  font-size: 20px;
  margin: 1px 1px 10px 0px;
  
}

.card button:hover {
  background-color: var(--colorD);
}
.cart {
  background-color: var(--colorB);
}
.buy {
  background-color: goldenrod;
}


.gallery {
  
  width:62%;
}

.slides td {
  width: 50%;
  padding: 10px;
  
}
.slides{
  
  border: 2px solid var(--colorA);
  
  
}
.main-slide img {
  width: 100%  
} 

/* Container for image text */

.row img {
  cursor: pointer;
  width: 100%;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.row-books {
  opacity: 0.6;
}
.active,
.row-books:hover {
  opacity: 1;
}

